.best-deals{
    width: 100%;
    height: 1000px;

}
.deals-container{
    width: 1280px;
    height: 100%;
    margin-left:120px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0px 0px 7px rgb(154, 154, 154);
}
.content-deals{
    height: 890px;
    width: 80%;
    padding-top: 50px;
    margin-left:125px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.rows{
    height:100px;
}
.line-break{
    height: 1px;
    background-color: lightgray;
}

.heading-best-deals{
    font-size: 30px;
    font-weight: 600;
    color: orangered;
    background-color: white;
    text-align: center;
    height: 70px;
}
.content-deals .search-elements{
    background-color: white;
    margin-left: 0px;
    height: auto;
}
.content-deals .search-elements p{
    font-size: 12px;
}
.rows input{
    height: 19px;
    width: 160px;
}
.rows input::placeholder{
    color: gray;
    font-size: 15px;
}
.continent-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.box-continent{
    background-color: white;
    height: 30px;
    margin-top: 13px;
    margin-bottom: 14px;
    margin-left: 20px;
    padding:8px 10px -0px 12px;
    border-radius: 20px;
    color: gray;
    border: 1px solid rgb(172, 172, 172);
    font-size: 14px;
}
.box-continent:hover{
    border-color: orangered;
    background-color: orangered;
    color: white;
    cursor: pointer;
}

.popularity{
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-bottom: 25px;
    background-color: white;
    
}
.popularity p{
    margin: 0;
    padding: 0;
    color: gray;
    font-size: 14px;
}
.popularity img{
    margin-left: 9px;
    margin-top: 4px;
    height: 15px;
}
.popularity:hover{
    cursor: pointer;
}
.photo-grid-deals{
    height: 600px;
}
.photo-grid-cards{
    display: grid;
    grid-template-columns: 320px 320px 320px;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 29px;
    background-color: white;

}
.place-photo-grid{
    height: 270px;
    background-color: white;
    border: 1px solid rgb(217, 217, 217);
}
.place-photo-grid:hover{
    box-shadow: 0px 0px 5px rgb(226, 226, 226);
    cursor: pointer;
}
.grid-main-photo{
    height: 190px;
    background-color: red;
}
.grid-main-photo img{
    height: 100%;
    width: 100%;
}
.grid-text-area{
    height: 1fr;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 7px;
    padding: 20px;
    padding-top: 15px;
}
.grid-text-container{
    background-color: white;
}
.right-align{
    text-align: right;
}
.deals-card-place{
    font-weight: 600;
}
.deals-card-lightgray{
    font-weight: 400;
    color: rgb(154, 153, 153);
}
.show-more-button{
    height: auto;
    margin-top: 65px;
    text-align: center;
    background-color: #EFEFEF;
    border: 1px solid rgb(201, 201, 201);
    color: rgb(159, 158, 158);
    padding: 13px 0px;
    font-size: 14px;
    font-weight: 500;
}
.show-more-button:hover{
    cursor: pointer;
}